
{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}

<head>
    <style type="text/css">

        .menu {
      top: 50px;
    }
    </style>

</head>
<br><br><br><br>
    <div class="main_body">
    <center>
    <h1 class="sub-head"><b>Please add prescription for {{ patient.user }}</b></h1></center>
     <center>
         <h2> patients profile symptoms are {{ patient.symptoms }}</h2>
         <h2> Patient problem : {{ appointments.description }}</h2>
{#         <a href="{% url 'doctor-prescription' %}">Enter prescription</a>#}


        <form action="{% url 'doctor-prescription' %}" method="post">
         {% csrf_token %}
         Prescription :<br> {{ form.prescription }}
        <br>
         <input type="submit" name="submit1" value="doctor prescription" />
        </form>

         </center>
    </div>
{% endblock content %}