<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      margin: 0px;
    }



    p {
      text-align: center;
        padding: 20px;
        text-decoration: none;

    }
  </style>
</head>

<footer>

  <p style="padding-right:30px; color:white">
      <span style="font-weight: bold">Developed by</span> <br>
    <a href="https://linkedin.com/">Bavitha Varala</a><br>
    <a href="https://linkedin.com/phani7g" >Phaneendra Gudikandula</a><br>
    <a href="https://www.linkedin.com/in/vamshi-polishety/">Vamshi Polishetty</a><br>
  </p>


</footer>

</html>
